<header id="header" class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000;">
        <div class="container">
            <a href="#" class="navbar-brand">Склад продукции</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent"
                    aria-controls="=navContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navContent">
                <ul class="navbar-nav mr-auto mb-3 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Index">Вывод продукции</a>
                    </li>
                    <li class="nav-item">
                        <!--<a class="nav-link" asp-area="" asp-page="/OutputPage/Index">Вывод продукции</a>-->
                        <a class="nav-link" href="/InputPage/Index">Ввод продукции</a>
                        <!--(собака)Html.ActionLink("Ввод продукции", "InputPage", "Home")-->

                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Сортировка продукции</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>