
@{
    Layout = "_InputPage";
}

@{
    //ViewData["Title"] = "Страница ввода";
    ViewBag.Title = "Продукт добавлен!";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddProduct</title>
</head>
<body>
    <h5>Продукт успешно добавлен!</h5>
    <a class="nav-link" href="/InputPage/Index">Добавить еще</a>
</body>
</html>
